#EditorPanel {
  background-color: MistyRose;
  position: absolute;
  top: -1.15em;
  right: var(--default-padding);
  border-radius: 2em;
  line-height: 1em;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  display: none;
}

#EditorPanel th {
  line-height: 0.9em;
  vertical-align: top
}

#EditorPanel td {
  width: 1em;
  text-align: center
}
