:root {
  --default-padding: 0.5em;
  --golden-ratio: 61.8%;
  --header-height: 2em;
  --scrollbar-width: 20px;
}

html, body, nav, main, aside {
 position: relative;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 display: flex;
}

@media only screen and (max-width : 720px) { /* MOBILE LAYOUT */
  html, body, nav, main, aside {
    position: absolute;
    top: 0;
    left: 0;
  }
}

nav, main, aside {
  flex-direction: column;
}

nav   { z-index: 0; width: 720px; }
main  { z-index: 2; }
aside { z-index: 4; }

/* STARTUP SCREEN

main, aside {
  display: none;
}
*/

/* HEADER AND FOOTER */

header {
  box-sizing: border-box;
  height: var(--header-height);
  line-height: var(--header-height);
  padding-left: var(--default-padding);
  white-space: nowrap;
}

header>div {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header>div.left,
header>div.right {
  user-select: none;
}

header>div.right {
  position: absolute;
  right: 0.5em;
  cursor: pointer;
}

footer {
  box-sizing: border-box;
  height: 100%;
  width: calc(100% + var(--scrollbar-width));
  overflow-x: hidden;
  overflow-y: scroll;
}

/* TEST */
nav>footer { background-color: gainsboro; }
main>header { background-color: lightgray; }
main>footer { background-color: azure; }
aside { background-color: lightgreen; }
aside>header { background-color: #553311; color: white; }
aside>footer { background-color: #CCBBAA; }
